node_modules
**/node_modules
.git
.gitignore
.github
.husky
.turbo
**/.turbo
**/dist
**/build
**/.next
**/coverage
**/.env
**/.env.*
!**/.env.example
**/*.log
**/.DS_Store
README.md
docs
playwright-report
test-results
